.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.navbar-span {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#upload-button {
  width: calc(100% - 2rem);
  height: calc(100% - 56px - 2rem);
  border-radius: 1rem;
  border: 5px dashed #09f7a0;
  color: white;
  // text-align: center;
  font-size: 3rem;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  cursor: pointer;
  min-width: 400px;
  min-height: 300px;
}

.upload-header {
  padding: 30px;
  max-width: 800px;
}





@import "custom"